.sky {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    width: 500px;
    height: 500px;
    clip-path: circle(200px at center);
  }
  
  .star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    // => https://bennettfeely.com/clippy/
    animation: bling 6000ms linear infinite;
  
    @for $i from 1 through 200 {
      &:nth-child(#{$i}) {
        top: calc(50% - #{random(400) - 100px});
        left: calc(50% - #{random(400) - 100px});
        animation-delay: random(6000) * -1ms;
      }
    }
  }
  
  @keyframes bling {
    0% {
      transform: scale(0) rotateZ(45deg) translate(-300px);
      background: #ff00ff;
    }
  
    50% {
      transform: scale(1) rotateZ(45deg) translate(0);
      background: #ffffff;
    }
  
    100% {
      transform: scale(0) rotateZ(45deg) translate(300px);
      background: red
    }
  }